<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Facture</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="piece">

        <div class="logo">
            <img src="https://www.bagstoreshop.com/img/bag-store-shop-logo-1641288553.jpg" >
        <p>Facture</p>
        </div>
        <h1>Piece D'identite Partielle</h1>
   <div class="element">
       <p>Nom: <strong>Test</strong> </p>
       <p>Famille: <strong>Test</strong> </p>
       <p>Produit: <strong>Test</strong> </p>
       <p>Quanite: <strong>Test</strong> </p>
       <p>Prix: <strong>Test</strong> </p>
       <div class="certification">
           <img src="https://www.bagstoreshop.com/img/bag-store-shop-logo-1641288553.jpg">
            <p1>BagStoreShop</p1>
            <a href=""></a>
        </div>

   </div>
    </div>
    <div class="generateurBtn">
        <button class="sublit"> Telecharger PDF</button>
    </div>
</body>
</html>